<div class="row">
  <% @students.each do |s| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag s.avatar.url(:thumb), class: "img-circle" %>
      <div class="caption">
        <h2><%= link_to s.name, student_path(s) %></h2>
        <p>
          <%= m.chort %><br/>
          <%= m.mod %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
