<header class="mod-header">
  <div class="layout-wrap">
    <h1>
      <a href="http://turing.io">Turing School of Software and Design</a>
    </h1>
    <nav>
      <ul>
        <li>
          <form action="/search" class="search">
            <input type="text" name="query" value="Search Mentors" class="search-text-box"> 
          </form>
        </li>
        <li>&nbsp</li>
        <li><%= link_to "Home", root_path %></li>
        <!-- if current user is_mentor -->
        <li><%= link_to "Profile", "#"  %></li>
        <li><%= link_to "Mentors", mentors_path %></li>
        <!-- else -->
        <!-- end -->
        <li><%= link_to "Sign In", 'auth/github' %></li>
        
      </ul>
    </nav>
  </div>
</header>
