/* JUMBOTRON FOR SHOW PAGES
--------------------------------------------------- */
.mentor-row {
  text-align: left;
}

.container-narrow > hr {
  margin: 30px 0;
}

.img-circle {
  border-width: 3px;
  border-style: solid;
}

/* FORM DESIGN 
------------------------------------------------- */
.form-panel {
  margin-top: 20px;
}

.form-label {
  float: left;
}

.check-box {
  margin-right: 10px;
}

/* THUMBNAILS
-------------------------------------------------- */
.thumbnail {
  background-color: #181818;
  border-color: #181818;
}

.thumbnail .caption {
  color: white;
}