// Place all the styles related to the static_pages_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  height: 100%;
  background-color: #181818;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.search-text-box {
  border-radius:15px;
  color:  #145266;
  text-align:center;
}

.img-circle {
  border-style: solid;
  border-width: 3px;
  height: 150px;
  width: 150px;
}

.jumbotron {
  margin-top: 40px;
  margin-bottom: 150px;
  color: #333;
}

.home-logo {
  margin-top: 20px;
}

.student-button {
  background-color: #333;
  margin-top: 150px;
  margin-left: 100px;
  height: 200px;
  width: 400px;
  float: left;
  border-color: white;
}

.mentor-button {
  background-color: white;
  color: black;
  margin: 150px;
  margin-right: 100px;
  height: 200px;
  width: 400px;
  float: right;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
