<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="mentorSHIP application for Turing">
    <meta name="author" content="Chad Brading, Corey Davis, Emily Davis, Tim Proctor 1406 cohort 2014">

    <title>mentorSHIP</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <%= yield %>

    <footer class="row">
      <div class="col-lg-6 col-md-offset-4">
        <p>&copy; 2014 Turing School of Software &amp Design &middot; Cohort 1406 &middot; All Rights Reserved</p>
      </div>
    </footer>

  </body>
 
</html>